/*
    color
*/

:root {
  --primary: #131200;
  --secondary: #195d8a;
  --header: #2d3047;
  --theme: #73ba9b;
  --background: #fbe8da;
  --danger: #e06052;
  --btn_on: #ffffff;
  --btn_off: #ff0700ff;
}

/*
      website font family
  */
html {
  margin-left: 0px;
  margin-bottom: 50px;
  overflow-x: hidden;
}
@media screen and (min-width: 768px) {
  html {
    margin-bottom: 0px;
    margin-left: 250px;
  }
}

main {
  max-width: 100vw;
}

body {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 100%;
  height: 100%;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
  background-color: var(--background);
}

header {
  position: relative;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: var(--header);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
@media screen and (min-width: 768px) {
  header {
    height: 100px;
  }
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  color: white;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
  margin-left: 2%;
  margin-top: 3%;
  margin-bottom: 2%;
  color: var(--secondary);
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 2%;
  margin-bottom: 2%;
  color: var(--secondary);
}

h4 {
  font-size: 1.25rem;
  margin-top: 1%;
  margin-bottom: 1%;
  color: var(--secondary);
}

h5 {
  font-size: 1.2rem;
  margin-top: 1%;
  margin-bottom: 1%;
  color: var(--secondary);
}

p {
  font-size: 1.1rem;
  margin-top: 1%;
  margin-bottom: 1%;
  line-height: 1.2;
  color: var(--primary);
}

footer p {
  display: flex;
  justify-content: center;
  font-size: 0.8rem;
  margin-top: 5%;
  margin-bottom: 1%;
  line-height: 1;
  color: var(--primary);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
