header {
  grid-area: header;
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

/* layout of body */
#grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

/* layout of navigation bar */
#flexnavbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  padding: 5px;
  background-color: var(--theme);
}

#flexnavbar h2 {
  color: var(--header);
  padding: 10px;
}

#flexnavbar > a {
  flex-grow: 1;
  display: flex;
  border: 4px solid transparent;
  border-radius: 15px;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 2px;
  color: var(--primary);
}

#flexnavbar > a:hover {
  background-color: #50a76aff;
}

#flexnavbar > a:focus-visible {
  border-color: blue;
}

#flexnavbar .active {
  background-color: #50a76aff;
}

#flexnavbar > div,
#flexnavbar > button {
  display: none;
}

@media screen and (min-width: 768px) {
  #flexnavbar {
    width: 250px;
    height: 100vh;
    flex-flow: column wrap;
    justify-content: space-around;
  }

  /* show avtar and logout button */
  #flexnavbar > div {
    display: flex;
    height: 40%;
  }

  .bio {
    background-color: white;
    padding: 15px;
    border-radius: 15px;
  }

  .nav_usr_profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .nav_usr_profile a {
    border: 4px solid transparent;
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }

  /* user avtar image */
  .nav_usr_profile img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    margin: 0;
  }

  .nav_usr_profile a:focus-visible {
    border-color: blue;
  }

  #flexnavbar > a {
    font-size: 1.5rem;
    margin-top: 6px;
  }

  #flexnavbar > a:hover {
    transform: translateX(-5px);
    transform: translateY(-5px);
  }

  #flexnavbar > button {
    display: block;
    margin-bottom: 20px;
  }
}

/* community page */
.community-page {
  justify-items: center;
}

/* layout of community form */
/* post form */
#community-body {
  max-width: 600px;
  margin: 20px;
  padding: 20px;
  background: white;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

#community-body label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

#community-body textarea {
  width: 100%;
  height: 150px;
  resize: none;
  overflow-y: auto;
  padding: 10px;
  border-radius: 4px;
  box-sizing: border-box;
}

/* input style */
#community-body input[type="text"],
#community-body input[type="number"],
#community-body input[type="file"],
#community-body select,
#community-body textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
  transition: border-color 0.3s;
}

#community-body input[type="text"]:focus,
#community-body input[type="number"]:focus,
#community-body select:focus,
#community-body textarea:focus {
  border-color: blue;
}

/* button style */
#community-body button {
  background-color: var(--theme);
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-right: 10px;
  transition: background-color 0.3s;
}

#community-body button:hover {
  background-color: #50a76aff;
}

#community-body button#btnform-cancel {
  background-color: var(--danger);
}

#community-body button#btnform-cancel:hover {
  background-color: var(--btn_off);
}

/* response style */
#community-body #submitResponse {
  margin-top: 15px;
  font-weight: bold;
  text-align: center;
}

/* card container */
.card-container {
  display: flex;
  max-width: 100%;
  overflow-x: auto;
  white-space: nowrap; /* only one line*/
  padding: 20px;
  margin: 20px;
  gap: 20px;
  border-radius: 10px;
  min-height: 200px;
  background-color: #d9d9d9;
}

.card-container .recipe-card {
  width: 300px;
  min-width: 300px;
}

.recipe-list {
  display: grid;
  gap: 20px;
  margin-top: 80px;
  margin-left: 20px;
  margin-right: 20px;
  grid-template-columns: 1fr; /* one card each row */
}

/* layout of detail page */
.detailed-information {
  display: flex;
  flex-direction: column;
  margin: 20px 20px;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

.detailed-information p,
.detailed-information h3,
.detailed-information ul {
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.detail-head {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 20px;
}

.detail-info {
  flex: 1;
  margin-right: 20px;
  margin-bottom: 20px;
}

.detail-info table {
  width: 100%;
  border-collapse: collapse;
}

.detail-info th,
.detail-info td {
  padding: 8px 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.detail-info tr th:last-child,
.detail-info tr td:last-child {
  border-right: none;
}

.detail-info th {
  font-weight: bold;
  width: 30%;
}

.detail-info td {
  width: 70%;
}

.detail-head img {
  flex: 1;
  width: 100%;
  max-height: 400px;
  object-fit: contain;
}

.detail-body {
  margin-top: 20px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .detail-head {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    margin: 20px;
  }

  .detail-head h2 {
    grid-column: 1 / -1;
    text-align: center;
    margin-bottom: 10px;
  }

  .detail-info {
    grid-column: 1 / 2;
  }

  .detail-head img {
    grid-column: 2 / 3;
    object-fit: cover;
  }

  .recipe-list {
    margin-top: 120px;
    grid-template-columns: repeat(4, 1fr); /* 4 card each row */
  }
}
