/*
    color
*/

:root {
  --primary: #348888;
  --secondary: #22babb;
  --light: #9ef8ee;
  --action: #fa7f08;
  --danger: #f24405;
}

/*
    website font family
*/

body {
  font-family: "Raleway", "Arial", sans-serif;
  font-size: 100%;
  height: 100%;
}

header {
    position: fixed;
    width: 100%;
    background-color: var(--secondary);
    padding: 1%;
    top: 0;
    left: 0;
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: 2%;
  margin-bottom: 0;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
  margin-top: 3%;
  margin-bottom: 2%;
}

h3 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 2%;
  margin-bottom: 2%;
}

h4 {
  font-size: 1.25rem;
  margin-top: 1%;
  margin-bottom: 1%;
}

p {
  font-size: 1.1rem;
  margin-top: 1%;
  margin-bottom: 1%;
  line-height: 1.2;
}

footer p {
  font-size: 0.8rem;
  margin-top: 5%;
  margin-bottom: 1%;
  line-height: 1;
}
