/* 
    practice websiet layout
*/

.page-container {
  width: 80%;
  margin: 15% auto 2% auto;
}

header {
    width: 100%;
    background-color: bisque;
}

.head-container {
    display: flex;
}

/* helper class */
.float-right {
    float: right;
}

.float-left {
    float: left;
}